<!-- app/views/admin/users/edit.html.erb -->
<h1>Edit User</h1>

<%= render "admin/users/form" %>
<br>
<%= link_to 'Show', admin_user_path(@user) , class: 'btn btn-info' %> 
<%= link_to 'Back to Users', admin_users_path, class: 'btn btn-warning' %>