
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 d-flex align-items-center">
      <h1>Welcome to Runtime's Ebook Store</h1>
    </div>
    <div class="col-md-6">
        <%= image_tag 'ebook_store_runtime.jpeg', alt: 'Runtime Ebook Store', class: 'rounded my-image-class' %>
      <%# <img src="ebook_store_runtime.jpeg" alt="Runtime Ebook Store" class="img-fluid rounded" style="height: 500px; object-fit: cover;"> %>
    </div>
  </div>
</div>